<!-- index.html -->

{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1>Bem-vindo à Padaria</h1>
    <p>Seu destino para produtos frescos e deliciosos!</p>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <h2>Cadastrar Cliente</h2>
        <p>Cadastre novos clientes para manter um registro atualizado.</p>
        <a href="{% url 'cadastrar_cliente' %}" class="btn btn-primary">Cadastrar</a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <h2>Lista de Clientes</h2>
        <p>Visualize a lista completa de clientes cadastrados.</p>
        <a href="{% url 'lista_clientes' %}" class="btn btn-primary">Ver Lista</a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <h2>Listar Estoque</h2>
        <p>Veja o estado atual do estoque de produtos.</p>
        <a href="{% url 'listar_estoque' %}" class="btn btn-primary">Ver Estoque</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <h2>Cadastrar Reclamação</h2>
        <p>Registre reclamações dos clientes para melhorar seus serviços.</p>
        <a href="{% url 'cadastrar_reclamacao' %}" class="btn btn-primary">Registrar</a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <h2>Lista de Reclamações</h2>
        <p>Veja as reclamações registradas pelos clientes.</p>
        <a href="{% url 'lista_reclamacoes' %}" class="btn btn-primary">Ver Lista</a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <h2>Cadastrar Pedido</h2>
        <p>Cadastre pedidos para os clientes com facilidade.</p>
        <a href="{% url 'cadastrar_pedido' %}" class="btn btn-primary">Cadastrar</a>
      </div>
    </div>
  </div>
{% endblock %}
  